.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 8px 6px 3px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &__desktop {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 12px 25px 12px 14px;
    position: static;

    &__mobile {
      display: none;
    }

    &__desktop {
      display: block;
    }
  }
}