.input {
  position: relative;

  &__img {
    position: absolute;
    top: 50%;
    left: 1.5px;
    transform: translateY(-50%);
  }

  &__field {
    font: inherit;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);/* Primary / Lines Gray */
    width: 100%;
    padding: 9px 7px 10px;
    background: transparent;

    &_icon {
      padding-left: 33px;
    }
  }
}