<mat-drawer-container [hasBackdrop]="true" class="mat-drawer-container">
  <mat-drawer #drawer position="end" mode="over" class="toggle-container">
    <app-form></app-form>
  </mat-drawer>

  <mat-drawer-content>
    <app-header
      (addedModalOpen)="drawer.toggle()"
    ></app-header>

    <div class="container">
      <div class="breadcrumbs">
        <a href="#" class="breadcrumbs__item">Главная</a>
        <span class="breadcrumbs__separator">&mdash;</span>
        <a href="#" class="breadcrumbs__item">Планирование</a>
      </div>

      <h1 class="h1"><img src="/assets/icons/planning.svg" class="h1__icon">Планирование</h1>

      <app-planning></app-planning>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
