.container {
  padding: 52px 16px 16px;
}

.breadcrumbs {
  display: none;
}

.h1 {
  position: fixed;
  top: 0;
  left: 50px;
  right: 50px;
  text-align: center;
  padding: 16px 0;

  &__icon {
    display: none;
  }
}

.mat-drawer-container {
  min-height: 100vh;
}

.toggle-container {
  width: 80vw;
  height: 100vh;
}


@media screen and (min-width: 1280px) {
  .container {
    padding: 16px 68px;
  }

  .breadcrumbs {
    margin-bottom: 4px;
    display: flex;

    &__item {
      color: inherit;
      font: inherit;
      text-decoration: none;
    }

    &__separator {
      margin: 0 9px;
    }
  }

  .h1 {
    position: static;
    text-align: left;
    margin-bottom: 20px;

    &__icon {
      display: inline-block;
      margin-right: 19px;
      position: relative;
      top: 2px;
      left: 1px;
    }
  }

  .toggle-container {
    width: 67vw;
  }
}